__pycache__/
venv/
.env
*.sqlite3
chroma_storage/
.streamlit/
.vscode/
*.log
*.tmp
*.bak
*.swp
AI_Content_Recommendation_Presentation.pptx
Screenshot 2025-04-26 112425.png
Screenshot 2025-04-26 112605.png
Screenshot 2025-04-26 112652.png
Screenshot 2025-04-26 112704.png