<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>404 - Not Found</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/404.css" />
</head>
<body>
  <div class="cloak__wrapper">
    <div class="cloak__container">
      <div class="cloak"></div>
    </div>
  </div>
  <div class="info">
    <h1>404</h1>
    <h2>We can't find that page</h2>
    <p>We're fairly sure that page used to be here, but seems to have gone missing. We do apologise on its behalf.</p>
    <a href="/">Home</a>
  </div>
</body>
</html>
